build/
cifar-10-python.tar.gz
cifar-10-batches-py/
__pycache__/
im2col_cython.c
im2col_cython.cpython-38-x86_64-linux-gnu.so
*.png
*.jpg
*.airi
*.pth
cats_dataset_splitted/
Gano-Cat-Breeds-V1_1/
airi/im2col_cython.cpython-310-x86_64-linux-gnu.so
